:root{

    --pink-clr: hsl(317, 100%, 79%);
    --black-clr: hsl(0, 0%, 0%);
    --blue-slate-clr: hsl(184, 27%, 78%);
    --green-clr: hsl(61, 54%, 40%);
    --blue-dark-clr: hsl(238, 40%, 61%);
    --orange-clr: hsl(14, 100%, 50%);
    --gray-clr: hsl(0, 0%, 85%);
    
}